In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

# 1:reading the data

In [3]:
cars=pd.read_csv('cars_data.csv')

In [4]:
cars

,Make,Model,Nickname,Car Gender,Buyer Gender,Buyer Age,Buzzword,Country,City,Dealer Latitude,Dealer Longitude,Color,New Car,Purchase Date,Sale Price,Discount,Resell Price,5-yr Depreciation,Top Speed,0-60 Time
0,Suzuki,Vitara,Philippine,Female,Female,51,User-friendly,Belgium,Antwerpen,51.247239,4.440346,Yellow,False,19/07/2009,54806.14,0.2467,33858.32,0.13,200.9,11.5
1,Honda,S2000,Henrik,Male,Male,30,analyzing,China,Jinhu,33.025433,119.020584,Crimson,False,26/10/2015,51826.30,0.3147,2989.28,0.02,158.5,8.8
2,BMW,Z4,Lebbie,Male,Female,54,software,China,Gemo,30.916207,121.677640,Khaki,False,28/03/2010,82929.14,0.5414,35049.16,0.24,149.5,14.4
3,Toyota,Tacoma,Jefferey,Female,Male,68,monitoring,Portugal,Queluz de Baixo,38.745168,-9.267087,Puce,False,07/05/2008,56928.66,0.0850,8236.15,0.20,153.3,11.5
4,Ford,Festiva,Glendon,Female,Male,70,Sharable,Latvia,Jaunpils,56.729980,23.016588,Yellow,False,01/06/2008,77201.26,0.1642,32765.76,0.18,122.0,14.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Mazda,Tribute,Cooper,Male,Male,44,hardware,Pakistan,Chishtiān Mandi,29.919386,73.074787,Pink,False,05/01/2020,58580.65,0.1611,42640.82,0.14,245.8,8.0
9996,GMC,Sierra 2500,Dud,Male,Male,40,Enhanced,Costa Rica,Ángeles,10.075000,-84.241523,Puce,False,28/12/2005,75229.74,0.2691,21115.58,0.11,147.4,12.3
9997,Mercury,Mariner,Chariot,Male,Male,37,monitoring,Poland,Dąbrowice,52.311923,19.084965,Blue,False,08/03/2013,34755.44,0.2493,2731.25,0.12,198.1,11.8
9998,Daewoo,Leganza,Dynah,Female,Female,21,cohesive,Philippines,Villasis,15.901640,120.587828,Teal,True,21/02/2008,98725.42,0.4654,18718.58,0.04,206.7,12.2
9999,Toyota,Sequoia,Zedekiah,Female,Male,21,analyzing,Philippines,Basud,14.048167,122.955697,Pink,False,16/12/2017,96769.78,0.5446,4545.95,0.07,242.1,3.2

# 2:null values

In [6]:
cars.isna().sum()

Make                 0
Model                0
Nickname             0
Car Gender           0
Buyer Gender         0
Buyer Age            0
Buzzword             0
Country              0
City                 0
Dealer Latitude      0
Dealer Longitude     0
Color                0
New Car              0
Purchase Date        0
Sale Price           0
Discount             0
Resell Price         0
5-yr Depreciation    0
Top Speed            0
0-60 Time            0
dtype: int64

# 3: bar graph

In [ ]:
plt.figure()
plt.hist(cars['Buyer Gender'],color='grey',)
plt.title('display of buyers on gender basis ',fontsize=15)
plt.xticks()
plt.yticks()
plt.xlabel('gender',fontsize=10)
plt.ylabel('no of sales',fontsize=10,rotation=90)

In [10]:
df1=cars[cars['Sale Price']>70000]

In [11]:
df1

,Make,Model,Nickname,Car Gender,Buyer Gender,Buyer Age,Buzzword,Country,City,Dealer Latitude,Dealer Longitude,Color,New Car,Purchase Date,Sale Price,Discount,Resell Price,5-yr Depreciation,Top Speed,0-60 Time
2,BMW,Z4,Lebbie,Male,Female,54,software,China,Gemo,30.916207,121.677640,Khaki,False,28/03/2010,82929.14,0.5414,35049.16,0.24,149.5,14.4
4,Ford,Festiva,Glendon,Female,Male,70,Sharable,Latvia,Jaunpils,56.729980,23.016588,Yellow,False,01/06/2008,77201.26,0.1642,32765.76,0.18,122.0,14.9
10,Toyota,Previa,Winni,Female,Female,67,Horizontal,Brazil,Freguesia do Ribeirao da Ilha,-27.720355,-48.563999,Violet,True,02/03/2004,82844.12,0.1651,4740.87,0.05,135.4,8.9
11,Scion,xB,Arlie,Male,Female,29,contingency,China,Chengbei,36.650038,101.766228,Green,True,09/09/2008,95681.78,0.5507,16358.27,0.08,136.4,4.1
12,Porsche,928,Celesta,Female,Female,37,discrete,Philippines,Pangal Sur,16.670640,121.715810,Fuscia,False,26/01/2020,90954.50,0.3937,40650.31,0.10,213.9,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9985,Ford,Bronco,Cara,Female,Female,42,encryption,Indonesia,Banyutengah,-6.893751,112.451498,Turquoise,True,03/03/2017,75080.01,0.6262,4348.73,0.22,202.4,7.7
9992,Mercedes-Benz,R-Class,Stace,Female,Female,20,methodical,Montenegro,Spuž,42.513741,19.195438,Red,True,14/05/2019,73728.13,0.2051,40288.27,0.18,227.7,4.0
9996,GMC,Sierra 2500,Dud,Male,Male,40,Enhanced,Costa Rica,Ángeles,10.075000,-84.241523,Puce,False,28/12/2005,75229.74,0.2691,21115.58,0.11,147.4,12.3
9998,Daewoo,Leganza,Dynah,Female,Female,21,cohesive,Philippines,Villasis,15.901640,120.587828,Teal,True,21/02/2008,98725.42,0.4654,18718.58,0.04,206.7,12.2
9999,Toyota,Sequoia,Zedekiah,Female,Male,21,analyzing,Philippines,Basud,14.048167,122.955697,Pink,False,16/12/2017,96769.78,0.5446,4545.95,0.07,242.1,3.2

In [18]:
descend=df1.sort_values('Sale Price',ascending=False)

In [19]:
descend

,Make,Model,Nickname,Car Gender,Buyer Gender,Buyer Age,Buzzword,Country,City,Dealer Latitude,Dealer Longitude,Color,New Car,Purchase Date,Sale Price,Discount,Resell Price,5-yr Depreciation,Top Speed,0-60 Time
5984,Volkswagen,Jetta III,Rachael,Female,Female,73,core,Russia,Krasnoyarka,59.418208,60.514706,Blue,False,10/05/2014,99997.65,0.1695,31601.95,0.06,204.9,12.6
1270,Audi,A6,Thorn,Male,Male,75,function,Latvia,Līgatne,57.236340,25.038073,Blue,True,30/01/2017,99991.91,0.4692,34711.19,0.16,171.3,13.0
3460,Lexus,LX,Aldin,Female,Male,38,software,Malaysia,Pasir Mas,6.109065,102.133622,Orange,False,04/03/2018,99983.38,0.1170,21462.44,0.12,193.7,4.5
9032,Mazda,MX-6,Sylvester,Female,Male,26,internet solution,Russia,Krutaya Gorka,55.369917,73.222396,Pink,False,11/12/2014,99978.17,0.6021,45958.19,0.15,232.0,3.9
302,Lexus,ES,Brig,Female,Male,39,user-facing,Canada,Langford,48.447463,-123.495634,Maroon,False,26/07/2018,99973.44,0.6294,32521.53,0.21,228.1,4.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5350,Buick,Regal,Derek,Female,Male,45,Optional,Philippines,San Antonio,14.550887,121.007555,Aquamarine,True,23/06/2018,70025.43,0.3278,39950.73,0.14,239.0,9.6
8024,Chevrolet,Venture,Darryl,Female,Male,65,info-mediaries,China,Hengxi,36.628305,101.765843,Khaki,True,13/04/2015,70017.42,0.3165,11387.59,0.20,198.7,14.2
465,GMC,Sierra 1500,Bernarr,Female,Male,45,Expanded,Sweden,Göteborg,57.731461,12.059918,Turquoise,False,12/03/2017,70012.74,0.4679,12095.04,0.06,120.1,9.2
5533,Pontiac,Bonneville,Silvana,Male,Female,46,User-centric,China,Jiucaigou,36.730406,101.196484,Fuscia,False,01/01/2019,70005.13,0.1384,45368.77,0.19,244.7,14.1
5275,Kia,Sorento,Udall,Male,Male,49,maximized,China,Jinsha,30.679359,104.011664,Green,False,24/09/2009,70002.43,0.5065,4876.85,0.19,201.0,9.3

#  4:Top 5 car based on sales

In [20]:
df2=descend[descend['Sale Price']>99973]

In [21]:
df2

,Make,Model,Nickname,Car Gender,Buyer Gender,Buyer Age,Buzzword,Country,City,Dealer Latitude,Dealer Longitude,Color,New Car,Purchase Date,Sale Price,Discount,Resell Price,5-yr Depreciation,Top Speed,0-60 Time
5984,Volkswagen,Jetta III,Rachael,Female,Female,73,core,Russia,Krasnoyarka,59.418208,60.514706,Blue,False,10/05/2014,99997.65,0.1695,31601.95,0.06,204.9,12.6
1270,Audi,A6,Thorn,Male,Male,75,function,Latvia,Līgatne,57.236340,25.038073,Blue,True,30/01/2017,99991.91,0.4692,34711.19,0.16,171.3,13.0
3460,Lexus,LX,Aldin,Female,Male,38,software,Malaysia,Pasir Mas,6.109065,102.133622,Orange,False,04/03/2018,99983.38,0.1170,21462.44,0.12,193.7,4.5
9032,Mazda,MX-6,Sylvester,Female,Male,26,internet solution,Russia,Krutaya Gorka,55.369917,73.222396,Pink,False,11/12/2014,99978.17,0.6021,45958.19,0.15,232.0,3.9
302,Lexus,ES,Brig,Female,Male,39,user-facing,Canada,Langford,48.447463,-123.495634,Maroon,False,26/07/2018,99973.44,0.6294,32521.53,0.21,228.1,4.7

# 5:Least 5 cars based on sales

In [22]:
df3=descend[descend['Sale Price']<70026]

In [23]:
df3

,Make,Model,Nickname,Car Gender,Buyer Gender,Buyer Age,Buzzword,Country,City,Dealer Latitude,Dealer Longitude,Color,New Car,Purchase Date,Sale Price,Discount,Resell Price,5-yr Depreciation,Top Speed,0-60 Time
5350,Buick,Regal,Derek,Female,Male,45,Optional,Philippines,San Antonio,14.550887,121.007555,Aquamarine,True,23/06/2018,70025.43,0.3278,39950.73,0.14,239.0,9.6
8024,Chevrolet,Venture,Darryl,Female,Male,65,info-mediaries,China,Hengxi,36.628305,101.765843,Khaki,True,13/04/2015,70017.42,0.3165,11387.59,0.20,198.7,14.2
465,GMC,Sierra 1500,Bernarr,Female,Male,45,Expanded,Sweden,Göteborg,57.731461,12.059918,Turquoise,False,12/03/2017,70012.74,0.4679,12095.04,0.06,120.1,9.2
5533,Pontiac,Bonneville,Silvana,Male,Female,46,User-centric,China,Jiucaigou,36.730406,101.196484,Fuscia,False,01/01/2019,70005.13,0.1384,45368.77,0.19,244.7,14.1
5275,Kia,Sorento,Udall,Male,Male,49,maximized,China,Jinsha,30.679359,104.011664,Green,False,24/09/2009,70002.43,0.5065,4876.85,0.19,201.0,9.3